@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-black dark:bg-[#0a0a0a] dark:text-white transition-colors duration-300;
}

/* Sexy Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #333333;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #555555;
}